*
!/.git/objects/
!/.git/refs/
!/.git/HEAD
!/.git/modules/
!/src/
/src/**/__pycache__
/src/**/*.pyc
/src/**/*.pyo
/src/**/_*.py*
!/src/_download_metric_models.py
!/src/**/__init__.py
!/src/_environment.py
!/tests/
/tests/**/__pycache__
/tests/**/*.pyc
/tests/**/*.pyo
/tests/**/_*.py*
!/tests/**/__init__.py
!/environment/
/environment/volumes/
!/environment/volumes/.gitkeep
!/pyproject.toml
!/poetry.lock
!/scripts/
!/check_gcc_version.py
!/packages_need_update_in_dockers.txt
!/patches/*.patch
!/patches/*.sh
!/.pylintrc
!/.yarnrc
!/package.json
!/yarn.lock
!/cspell.json
!/static/
!/alembic.ini
!/src/l7x/utils/audio_recorder.vue
