# @see http://editorconfig.org/

# This is the top-most .editorconfig file; do not search in parent directories.
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
tab_width = 4
trim_trailing_whitespace = true

[Makefile]
indent_style = tab

[.gitmodules]
indent_style = tab

[*.md]
trim_trailing_whitespace = false

[*.yml]
indent_size = 2
tab_width = 2

[/node_modules/**]
generated_code = true
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
indent_style = unset
indent_size = unset
tab_width = unset

[*.{patch, lock, node, so}]
generated_code = true
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
indent_style = unset
indent_size = unset
tab_width = unset
