# yarn lockfile v1

# Always look into the cache first before fetching online
--install.prefer-offline true

disable-self-update-check true
# TODO: "--install.ignore-scripts true" включить игнорирование для других модулей когда пофиксят этот баг с запуском postinstall https://github.com/yarnpkg/yarn/issues/7338
--install.ignore-optional true
